* {
    margin:0;
    padding: 0;
    box-sizing:border-box;
}
body{
    background: linear-gradient(to right, yellow,rgb(231, 231, 122));
     color:black;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
#menuToggle {
    position: fixed;
    top: 20px;
    left: 20px;
    font-size: 30px;
    background: black;
    color: beige;
    border: none;
    padding: 8px 12px;
    border-radius: 6px;
    cursor: pointer;
    z-index: 1000;
}
#menuToggle button {
    font-size: 24px;
    padding: 8px 12px;
    cursor: pointer;
}
#menu{
    position: fixed;
    top: 0;
    left: 0;
    width: 260px;
    height: 100vh;
    background-color: black;
    color: beige;
    padding:60px 20px;
    z-index: 999;
}
.menu-links a {
    display: block;
    padding: 15px;
    text-decoration: none;
    color: beige;
    font-size: 18px;
    border-bottom: 1px solid #f0ed65;
}
.menu-links a:hover{
    background: #f5ea59;
}

img{
    display: block;
    margin: 20px auto 0 auto;
    max-width: 100%;
    border: 5px solid black;
    border-radius: 10px;
}